/*-- Custom Properties --*/

:root{
    --primario: #c2185b;
    --secundario: #ffc107;
    --primarioOscuro: rgb(156, 10, 69);

    --fuentePrimaria: 'Arial', Helvetica, sans-serif;
    --fuenteSecundaria: 'Poppins', sans-serif;
}

html{
    box-sizing: border-box;
}
*, *::before, *:after{
    box-sizing: inherit;
}

body{
    background-color: var(--primario);
    font-family: var(--fuentePrimaria);
}
.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}
.bg-amarillo{
    background-color: var(--secundario);

}
.bg-blanco{
    background-color: white;
}
.barra{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}
/*- Botones -*/
.btn{
    font-size: 2rem;
    text-decoration: none;
}
.btn-editar{
    color: var(--secundario);
}
.btn-borrar{
    color: var(--primario);
}
.volver{
    background-color: var(--secundario);
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.5rem;
}
.sombra{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
h1, h2{
    font-family: var(--fuenteSecundaria);
    text-align: center;
    margin: 0;
}
h1{
    padding: 20px;
    color: white;
}
h2{
    font-size: 2rem;
    color: var(--primario);
}
.contenedor-barra{
    background-color: var(--primarioOscuro);
}
/*-- Formulario --*/
form{
    padding: 3rem;
    margin-top: 2rem;
}
form legend{
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
}
legend span{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    clear: both;
    display: block;
}
@media (min-width: 768px) {
    .campos{
        display: flex;
        justify-content: space-between;
    }
    .campo{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.campo{
    padding: 0.5rem 0;
}
.campo label{
    font-size: 1.2rem;

}
.campo input[type='text'],
.campo input[type='tel']{
    width: 100%;
    border: none;
    padding: 0.5rem;
    height: 3rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.enviar{
    display: flex;
    justify-content: flex-end;
}
.campo input[type='submit']{
    background-color: var(--primario);
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition:  background-color .5s ease-in-out;
    flex: 1;
}
.campo input[type='submit']:hover{
    cursor: pointer;
    background-color: var(--primarioOscuro);
}
@media (min-width: 768px) {
    .campo input[type='submit']{
        flex: 0 0 auto;
    }
}
/*-- Listado de Contactos --*/
.contactos{
    padding: 2rem;
    margin-top: 3rem;
}
.contenedor-contactos{
    max-width: 800px;
    margin: 4rem auto 0 auto;
}
.total-contactos{
    font-family: var(--fuenteSecundaria);
    margin: 2rem 0;
    text-align: center;
    color: var(--primario);
    font-size: 2rem;
}
.total-contactos span{
    font-size: 3rem;
    font-weight: 900;
}
.buscador{
    width: 100%;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    margin: 2rem 0;
}
.contenedor-tabla{
    overflow: scroll;
}
.listado-contactos{
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}
.listado-contactos thead{
    background-color: var(--primario);
    color: white;
    text-transform: uppercase;
}
.listado-contactos thead th{
    padding: 1rem 0;
}
.listado-contactos tbody td{
    padding: 0.5rem;
}
.listado-contactos tbody td:nth-child(4){
    text-align: center;
}
.listado-contactos button{
    background-color: transparent !important;
    border: none;
}
