/*-- Custom Properties --*/

:root{
    --primario: #c2185b;
    --secundario: #ffc107;
    --primarioOscuro: rgb(156, 10, 69);

    --fuentePrimaria: 'Arial', Helvetica, sans-serif;
    --fuenteSecundaria: 'Poppins', sans-serif;
}

html{
    box-sizing: border-box;
}
*, *::before, *:after{
    box-sizing: inherit;
}

body{
    background-color: var(--primario);
    font-family: var(--fuentePrimaria);
}
.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}
.bg-amarillo{
    background-color: var(--secundario);

}
.sombra{
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, .71);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, .71);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, .71);
    border-radius: 10px;
}
h1, h2{
    font-family: var(--fuenteSecundaria);
    text-align: center;
    margin: 0;
}
h1{
    padding: 20px;
    color: white;
}
.contenedor-barra{
    background-color: var(--primarioOscuro);
}
/*-- Formulario --*/
form{
    padding: 3rem;
    margin-top: 2rem;
}
form legend{
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
}
legend span{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    clear: both;
    display: block;
}
@media (min-width: 768px) {
    .campos{
        display: flex;
        justify-content: space-between;
    }
    .campo{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.campo{
    padding: 0.5rem 0;
}
.campo label{
    font-size: 1.2rem;

}
.campo input[type='text'],
.campo input[type='tel']{
    width: 100%;
    border: none;
    padding: 0.5rem;
    height: 3rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.enviar{
    display: flex;
    justify-content: flex-end;
}
.campo input[type='submit']{
    background-color: var(--primario);
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition:  background-color .5s ease-in-out;
    flex: 1;
}
.campo input[type='submit']:hover{
    cursor: pointer;
    background-color: var(--primarioOscuro);
}
@media (min-width: 768px) {
    .campo input[type='submit']{
        flex: 0 0 auto;
    }
}